<div class="card" style="width: 70rem;">
  <img src="<%= @info["url"] %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= @info["title"] %></h5>
    <p class="card-text">
      <%= @info["explanation"] %>
      <%= @info["date"] %>
    </p>
  </div>
</div>